################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlatformService/.vs
/CommandsService/.vs
/CommandsService/bin/Debug/net8.0
/PlatformService/bin/Debug/net8.0
